.landingPage-container {
    /* background-color: red; */
    color: #545454;
}
.landingPage-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #e9e9e9;
}
.landingPage-header .user-mail-mob {
    display: flex;
    flex-direction: row;
}
.landingPage-header .user-mail {
    padding: 12px;
    border-right: 1px solid #e9e9e9;
    border-left: 1px solid #e9e9e9;
    font-size: 12px;
    align-items: center;
    display: flex;
    gap: 5px;
}
.landingPage-header .user-mob {
    padding: 12px;
    border-right: 1px solid #e9e9e9;
    font-size: 12px;
    align-items: center;
    display: flex;
    gap: 5px;
}
.landingPage-header .landingTitle {
    padding: 12px;
    border-right: 1px solid #e9e9e9;
    border-left: 1px solid #e9e9e9;
    font-size: 12px;
}
.landingPage-container .searchBarLogo-container {
    padding: 15px;
    justify-content: space-around;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 75px;
    align-items: center;
}
.landingPage-container .globalSearch-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid #e9e9e9;
    border-radius: 50px;
    height: 44px;
}
.searchBar .css-1d3z3hw-MuiOutlinedInput-notchedOutline,
.css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root:hover .MuiOutlinedInput-notchedOutline,
.dropdownInSearch .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
    border: none;
}
.MuiAutocomplete-endAdornment.css-1q60rmi-MuiAutocomplete-endAdornment {
    display: none;
}
.globalSearch-container .searchBar {
    padding: 4px;
    border-right: 1px solid #e9e9e9;
    width: 350px;
}
.globalSearch-container .css-1869usk-MuiFormControl-root {
    height: 45px;
    border-right: 1px solid #e9e9e9;
}
.globalSearch-container .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
    border : none;
}
.globalSearch-container .css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
    margin-top: 2px;
}
.searchBarLogo-container .otherDetails {
    flex-direction: row;
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: 60px;
    font-size: 13px;
}
.landingPage-container .zunkLogo {
    width: 8.5vw;
    height: 6vh;
}
.landingPage-container .css-ks32qb-MuiAutocomplete-root .MuiOutlinedInput-root.MuiInputBase-sizeSmall .MuiAutocomplete-input,
.landingPage-container .MuiSelect-select.MuiSelect-outlined.MuiInputBase-input.MuiOutlinedInput-input.MuiInputBase-inputSizeSmall.css-jedpe8-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
    color: #545454 ;
    font-size: 13px;
}
.landingPage-container .brandName {
    /* margin-left: 275px; */
    margin-left: 360px;
}
.searchBarButton {
    background: none;
    border: none;
}
.globalSearch-container em {
    font-style: normal;
    color: #545454;
}
.details-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    color: #212121;
}
.dropdown-myAccount {
    top: 12%;
    display: none;
    position: absolute;
    right: 20.1%;
    width: 210px;
    align-items: center;
    text-align: center;
    flex-direction: column;
    border: 1px solid #e9e9e9;
    font-size: 16px;
}
.details-data:hover .dropdown-myAccount{
    display: flex;
    background-color: white;
    align-items: center;
    text-align: center;
    flex-direction: column;
    /* box-shadow: 8px 8px 10px 0px rgba(0,0,0,0.2); */
    box-shadow: 0 0 0px rgba(0,0,0,.15);
    transition: transform .3s ease,opacity .3s ease,visibility .3s ease;
    z-index: 1;
}
.myAccount-dropdown-data {
    color: black;
    padding: 10px;
    text-decoration: none;
    display: flex;
    border-top: 1px solid #e9e9e9;
    width: -webkit-fill-available;
    gap: 15px;
    align-items: center;
    color: #212121;
    font-size: 14px;
  }
  .myAccount-dropdown-data:hover,
  .details-data:hover {
    color: #8224e3;
  }
  /* .details-data:hover {
    color: ;
  } */
 .pointerDiv {
    position: absolute;
    right: 25.7%;
    top: 11.3%;
    height: 12px;
    width: 12px;
    background-color: #ffffff;
    border-top: 1px solid #E3E4E6;
    border-right: 1px solid #E3E4E6;
    transform: rotate(-45deg);
    display:none;
 }
 .details-data:hover .pointerDiv{ 
    display:block;
 }
 .reportTop_parent .slide-pane__header {
    display: none;       
}
.report-slide-pane {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #F2F2F2;
    padding: 15px 15px;
}
.report-slide-heading{
    margin: 0px;
    text-transform: inherit;
    font-weight: 600;
    font-style: normal;
    color: black;
}
.reportTop_parent .report-slide-close-icon {
    font-size: 22px;
    color: #212121;
    cursor: pointer;
}
.reportTop_parent .slide-pane__content {
    padding: 0px;
}
.reportTop_parent .sliderContent {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #F2F2F2;
    margin-top: 1.4px;
    flex-direction: column;
    gap: 45px;
}
.reportTop_parent .shoppingBag-message-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.shoppingBag .css-i4bv87-MuiSvgIcon-root {
    font-size: 9rem;
    height: 115px;
}
.shoppingBag-message-container .shoppingBag {
    padding-top: 30px;
}
.sliderContent .continueShopping-btn {
    background-color: #059473;
    color: #fff;
    font-size: 12px;
    padding: 10px 14px ;
    border-radius: 0px;
    letter-spacing: 0.5px;
    font-weight: 800;
}
.sliderContent .continueShopping-btn:hover {
    background-color: #048567;
}
.sliderContent .shoppingMessage {
    font-weight: 600;
    color: #292828;
    font-size: 14px;
}
.carousel-child .MuiBox-root.css-8atqhb {
    display: flex;
    align-items: center;
    flex-direction: column;
}
